<div class="mycont">
  <div class="row">
    <div class="col-8">
      <br>
      

      <div class="jumbotron bor">
        <b><h2 class="font-weight-bold">Article 370 & 35A Scrapped - Good or Bad ?</h2></b>
        <br>
        <iframe width="100%" height="420"
        src="http://www.youtube.com/embed/jeW0gXFh6Xc">
      </iframe>
      
      <p>
          <br>
          
        <h3>What is Article 370?</h3>
        <div class="text-justify">Included in the Constitution on October 17, 1949, Article 370 exempts J&K from the Indian Constitution (except Article 1 and Article 370 itself) and permits the state to draft its own Constitution. It restricts Parliament’s legislative powers in respect of J&K. For extending a central law on subjects included in the Instrument of Accession (IoA), mere “consultation” with the state government is needed. But for extending it to other matters, “concurrence” of the state government is mandatory. The IoA came into play when the Indian Independence Act, 1947 divided British India into India and Pakistan.</div>
        <br>
        <br><h3>Here’s what has changed in Jammu and Kashmir</h3>
        <div class="text-justify">For some 600 princely states whose sovereignty was restored on Independence, the Act provided for three options: to remain an independent country, join Dominion of India, or join Dominion of Pakistan — and this joining with either of the two countries was to be through an IoA. Though no prescribed form was provided, a state so joining could specify the terms on which it agreed to join. The maxim for contracts between states is pacta sunt servanda, i.e. promises between states must be honoured; if there is a breach of contract, the general rule is that parties are to be restored to the original position. 
        A number of other states enjoy special status under Article 371, from 371A to 371I.
        </div>
    
  </div>
  </div>
  <br>
  <div class="col-4">
    <br>
    <div class="jumbotron bor">
      <b><h2>More Acticles</h2></b>
      <p>sdfd</p>
      <p>sdfd</p>
      <p>sdfd</p>
    </div>
  </div>
</div>
</div>