.mycont {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.bordered {
    background-color: rgb(226, 230, 238);
    border-left-width: 5px
}

.bor {
    border-style: solid;
    border-width: 1px
}