<br>
<div class="container about jumbotron">
<h5>
<b>What ?</b><br>
Save the nation - India is an effort to bring together people of our great nation and strive to make better tomorrow by learning good stuff from each other. 
<br><br>
<b>Why ?</b><br>
We constantly complain about how people around are letting us down, about how our government is making wrong decisions but completely neglect that it all starts with US. Wouldn't it be great if we could just focus on us first and worry less about others.
<br><br>
<b>How ?</b><br>
By sharing - ideas
<br><br>
<b>What can you do ?</b><br>
Small act of kindness, support and responsibility can go a long way to build a better. Just be a better self and let others know about it.
"Be the change you want to see in others"

Be kind on the road - Give pedestians way, help people, donate atleast a bit to society, make sure you vote.
</h5>

</div>